@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brown: #724319;
  --light-brown: #a06a3a;
  --light-yellow: #fff29c;
  --dark-yellow: #ed8a0a;
  --yellow: #f6d912;
  --gray: #909090;
  --brown-fosco: #b99b5b;
}

.perspective-1000 {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.body-no-scroll {
  overflow: hidden;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
  width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--light-brown);
  border-radius: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--brown);
  border-radius: 8px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--dark-yellow);
}
.scroll-formulario::-webkit-scrollbar {
  height: 8px;
  width: 12px;
}

.scroll-formulario::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.scroll-formulario::-webkit-scrollbar-thumb {
  background: var(--brown-fosco);
  border-radius: 8px;
}

.scroll-formulario::-webkit-scrollbar-thumb:hover {
  background: var(--dark-yellow);
}
html::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

html::-webkit-scrollbar-track {
  background: var(--brown-fosco);
  border-radius: 0px !important;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--light-brown);
  border: 2px solid rgb(80, 33, 0);
  border-radius: 0px !important;
  background-clip: padding-box;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-yellow);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
