@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brown: #724319;
  --light-brown: #a06a3a;
  --light-yellow: #fff29c;
  --dark-yellow: #ed8a0a;
  --yellow: #f6d912;
  --gray: #909090;
  --brown-fosco: #b99b5b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
